<%-includes('../customer/includes/head', {pageTitle: 'An error occurred'})%>

</head>
<body>
    <%-includes('../customer/includes/header')%>
    
    <main>
    <h1>Something went wrong!</h1>
    <p>Unfortunately, something went wrong. Please try again later.</p>
    <p><a class="btn" href="/">Back to safety!</a></p>
    
    
    <%-includes('../includes/footer')%>
</main>
</body>
</html>

